
@{
    ViewData["Title"] = "About";
}

<h1>About This Website</h1>

<p>This is a website that I made to showcase all the pixel art that I make as a hobby. I try and do a piece of pixel art every day, though
    I tend to just make a piece of pixel art every couple of days, since that is more realistic and achievable. I post my pixel art to Instagram
    and Facebook! If you want to look at pixel art, just click the "Gallery" Link at the top of the page!  I hope you enjoy your time here!</p>

