@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>To get started, create an account by clicking the Register Button, then Login, and then click Gallery!
       Or, click the "Get Started" Button!</p>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Get Started!</a>
</div>
