@page
@model APixelADay.Views.Commissions.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CommissionsLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommissionsLog.ComissionID" />
            <div class="form-group">
                <label asp-for="CommissionsLog.Title" class="control-label"></label>
                <input asp-for="CommissionsLog.Title" class="form-control" />
                <span asp-validation-for="CommissionsLog.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommissionsLog.Price" class="control-label"></label>
                <input asp-for="CommissionsLog.Price" class="form-control" />
                <span asp-validation-for="CommissionsLog.Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CommissionsLog.CompletionStatus" /> @Html.DisplayNameFor(model => model.CommissionsLog.CompletionStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CommissionsLog.DateStarted" class="control-label"></label>
                <input asp-for="CommissionsLog.DateStarted" class="form-control" />
                <span asp-validation-for="CommissionsLog.DateStarted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommissionsLog.DateCompleted" class="control-label"></label>
                <input asp-for="CommissionsLog.DateCompleted" class="form-control" />
                <span asp-validation-for="CommissionsLog.DateCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
